.exersice-text{
    width: 490px;
    height: 280px;
    /* background-color: antiquewhite; */
    margin-left: 10px;
    padding-left: 5px;
}
.exersice-text p{
    font-size: 23px;
        color:black;
        font-weight: lighter;
}