.section{
    width: 100%;
    height: 120px;
}
/* .profile-img{
    width: 100%;
    height: 600px;
    background-color: wheat;
    background-image: url(../Images/p-d\ 2.jpg);
    object-fit: cover;
    z-index: 1;
} */
/* profile */
.profile-img{
    width: 100%;
    height: 600px;
    margin-top: -37px;
    box-shadow: rgba(85, 85, 199, 0.507) 0px 30px 60px -12px, rgba(41, 103, 218, 0.637) 0px 18px 36px -18px;
    animation: Change 20s linear infinite;
    background-size: 100% 100%;
    border-radius: 5px;
}
@keyframes Change {
    0%{
        background-image: url("../Images/p-d1.jpg");
}
25%{
    background-image: url("../Images/p-d2.jpg");
}
50%{
    background-image: url("../Images/p-d3.jpg");
}
  75%{
    background-image: url("../Images/p-d4.jpg");
  }  
  100%{
    background-image: url("../Images/p-d1.jpg");
  }
}

.d-form{
    width: 80%;
    height: 480px;
    margin-left: 15vh;
    background-color: rgb(243, 236, 236);
    margin-top: -70px;
   border-radius: 5px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0.3, 0.5) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.phleform{
    /* width: 40%;
height: 380px;
background-color: transparent; */
background-color:transparent;
margin-top: 20px;
height: 86%;
width: 48%;
display: flex;
gap: 55px;
padding-top: 50PX;
justify-content:center;
align-items: center;
flex-direction: column;
border-radius: 1vh;

}
.D_inputContainer
{
     height: 5.3vh;
     width: 70%; 
     border-bottom: 0.4vh solid #176cbb;
     margin-top: -6%;
     display: flex;
     flex-direction: row;
     align-items: center;
}
.writeemailinput
{
    background-color:transparent;
    width: 85%;
    height: 5vh;
    font-size: 2vh;
    border: 0;
    outline: none;
    color: #37352f;
    text-indent: 2%;
}
.contactinput{
    background-color:transparent;
    width: 85%;
    height: 5vh;
    font-size: 2vh;
    border: 0;
    outline: none;
    color: #37352f;
    text-indent: 2%;
}
.writenameinput
{
background-color:transparent;
width: 85%;
height: 5vh;
font-size: 2vh;
border: 0;
outline: none;
color: #37352f;
text-indent: 2%;}
.ageinput
{
background-color:transparent;
width: 85%;
height: 5vh;
font-size: 2vh;
border: 0;
outline: none;
color: #37352f;
text-indent: 2%;}
.specailityinput
{
background-color:transparent;
width: 85%;
height: 5vh;
font-size: 2vh;
border: 0;
outline: none;
color: #37352f;
text-indent: 2%;
}
.Exprienceinput{
background-color:transparent;
width: 85%;
height: 5vh;
font-size: 2vh;
border: 0;
outline: none;
color: #37352f;
text-indent: 2%;
}

.dusraform{
    width: 50%;
height: 450px;
margin-left: 82vh;
margin-top: -55vh;
background-color:#adcce9ab;
display: flex;
gap: 60px;
padding-top: 10PX;
justify-content:center;
align-items: center;
flex-direction: column;
border-radius: 1vh;
}
.timeSlot{
    width: 30px;
    height: 30px;
    background-color: wheat;
}
.DoctorDropdownBox{
  height:0vh;
  width: 70%; 
  border-bottom: 0.4vh solid #377adf;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
}
.D-dropdown-Layout{
  background-color:transparent;
  border: none;
width: 55vh;
height: 20px;
margin-left: 5px;
}
.Doc-dropdown-Layout{
  width: 312px;
  border: none;
  margin-left: 5px;
  margin-top: -35px
}
.uploaded button{
  height: 40px;
  width: 120px;
  border-radius: 20px;
font-weight: bold;
  border: #176cbb;
  box-shadow: rgba(73, 73, 219, 0.589) 0px 13px 27px -5px, rgba(20, 92, 224, 0.863) 0px 8px 16px -8px;
}
.uploaded button:hover{
  background-color: #377adf;
  color: aliceblue;
  font-weight:bolder;
  box-shadow: rgba(50, 50, 93, 0.726) 0px 13px 27px -5px, rgba(0, 0, 0, 0.479) 0px 8px 16px -8px;
}
