
.Viewdeptpage{
    background-image: url('https://media-s3-us-east-1.ceros.com/rad-intelligence/images/2021/08/09/21045ce0546351c8bca7fe8bce0a8e36/pngkey-com-polygon-png-1220320.png');
    background-color: #b4cee6ab;
    background-size: cover;
    display:flex;
    grid-column: auto;
    gap: 10px;
    margin: 0 auto;
    height:100vh;
    width: 100%;
    position:fixed;

}
.userpro{
    width: 250px;
    height: 550px;
object-position: center;
border-radius: 20px;
color: white;
justify-content:first baseline;
align-items: center;

font-size: 30px;
font-weight: bold;
padding-top: 20px;
display: flex;
margin-top: 120px;
margin-left: 30px;
z-index: 20;
position: absolute;
flex-direction:column;
    background-color:#176cbb;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.usercard{
    width: 100%;
    height: 300px;
    background-color: rgb(214, 227, 240);
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 2px 4px px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.userinput{
    height: 50px;
     width: 90%; 
     border-bottom: 0.4vh solid #176cbb;
    
}
.userEmail{
    height: 50px;
    width: 90%; 
    border-bottom: 0.4vh solid #176cbb;
   
}
.userEmail input{
        background-color:transparent;
    width: 85% !important;
    height: 5vh !important;
    font-size: 2vh;
    border: 0;
    outline: none;
    color:black;
    text-indent: 5%;
}
.userImg{

    height: 50px;
    width: 90%; 
    border-bottom: 0.4vh solid #176cbb !important; 
}
.userImg input{
    background-color:transparent;
width: 85% !important;
height: 5vh !important;
font-size: 2vh;
border: 0;
outline: none;
color:black;
text-indent: 5%;
}
.circle{
    width: 80px;
    height: 80px;
    background-color: aquamarine;
    display: flex;
    z-index: 25;
    margin-bottom: 10px;
    
    /* margin-left: 27vh;
    margin-top:250px;
    z-index: 20; */
    border-radius: 40px;

}

.profileupdate{
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 500px;
    display: flex;
    position: fixed;
    z-index: 20;
    border-radius: 10px;
margin-top: 100px;
margin-left: 30%;
justify-content: center;
align-items: center;
flex-direction: column;
    

}

.profileimage{
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* background-color: black; */
}

.profileupdatepopupbg{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 20;
    opacity: 0.8;
    justify-content: center;
    align-items: center;

}

.userdetails{
width: 80vh;
height: 70vh;
border-collapse: whitesmoke;
margin-left:58.5vh;
margin-top: 145px;
position: absolute;
background-color: white;
}
.userinput input{
    background-color:transparent;
    width: 85% !important;
    height: 5vh !important;
    font-size: 2vh;
    border: 0;
    outline: none;
    color:black;
    text-indent: 5%;
}
/* .Naaminput{
    background-color:#176cbb;
height: 30vh;
font-size: vh;
border:#176cbb;
outline: none;
color: #37352f;
text-indent: 2%;} */

.detailshanding{
    width: 190px;
    height: 120px;
    margin-left: 27vh;
    text-align: center;
    font-size: 25px;
    font-weight: 30px;
    font-weight: bold;
padding-top: 25px;
}
.leftcard{
    width: 61vh;
    height: 69vh;
    background-color:#176cbb;
    margin-left:140vh;
 margin-top: 150px;
 border-bottom-left-radius: 50px;
 border-top-right-radius:50px;
 position:relative;
 align-items: center;
 text-align: center;
 display: flex;
 flex-direction: column;

}
.leftcard-heading{
  font-weight: bold;
 font-size: 25px;
padding-top: 3%;
padding-bottom: 3%; 
color: aliceblue;
}
.leftcard-scroll{
  width: 99%;
  height: 85%;
  border-bottom-left-radius: 50px;
  position:relative;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
scroll-margin:2px !important;
padding-top: 2%;
padding-bottom: 3%;
background-color: aliceblue;
}
.appDetails{
    width: 90%;
    height: 140px;
    background-color:#a2bfdb;
    margin-top: 20px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    border-top-right-radius:150px ;
    border-bottom-right-radius:150px ;
    
    }
    .appDetails:hover{
      -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    } 
    @-webkit-keyframes shadow-drop-2-center {
      0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
      100% {
        -webkit-transform: translateZ(50px);
                transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      }
    }
    @keyframes shadow-drop-2-center {
      0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
      100% {
        -webkit-transform: translateZ(50px);
                transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      }
    }
    
    
.appDetails a{
    font-size: medium;
    color: black;
}

.physical{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
  }
  .cardEX{
    cursor: pointer;
    width: 300px;
    height: 380px;
    margin-left: 30%;
    margin-top: 20%;
   
  }
  .frontEX,.backEX{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden !important;
    position: absolute;
    transition: transform .6s linear;
  }
  .frontEX img{
    height: 100%;
  }
  .frontEX{
    transform: perspective(600px) rotateY(0deg);
  }
  .backEX{
    background-color: rgb(214, 227, 240);
    transform: perspective(600px) rotateY(180deg);
  }
  .backEX-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
    
  }
  .sm{
    margin: 20px 0;
  }
  .sm a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%
  }
  .sm a:hover{
    background: #2c3e50;
    color: white;
  }
  .cardEX:hover > .frontEX{
    transform: perspective(600px) rotateY(-180deg);
  }
  .cardEX:hover > .backEX{
    transform: perspective(600px) rotateY(0deg);
  }
  .usercard button{
  height: 40px;
  width: 120px;
  border-radius: 20px;
font-size: 17px;
  border: #176cbb;
  margin-top: 30px;
  box-shadow: rgba(73, 73, 219, 0.589) 0px 13px 27px -5px, rgba(20, 92, 224, 0.863) 0px 8px 16px -8px;
}
.usercard button:hover{
  background-color: #377adf;
  color: aliceblue;
  font-weight:lighter;
  box-shadow: rgba(50, 50, 93, 0.726) 0px 13px 27px -5px, rgba(0, 0, 0, 0.479) 0px 8px 16px -8px;
}